@font-face
  font-family HelveticaNeue
  src url(../fonts/HelveticaNeue-Light.otf)
body
  font-family HelveticaNeue

.error
  color red

video
  width 35%
  margin 15px
  float left

.flip-container
  perspective 800
  position fixed
  top 100px
  right 50px

.flip-container:hover .flipper, .flip-container.hover .flipper
  transform: rotateY(180deg)

.flipper
  transition 1.0s
  transform-style preserve-3d
  position relative

.flip-container, .front, .back
  width 200px
  height 150px

.front, .back
  backface-visibility hidden
  position absolute
  transition 1.0s
  transform-style preserve-3d
  top 0
  left 0
  margin 0

.back
  transform rotateY(180deg)
  background grey

.front
  transform rotateY(0deg)
  z-index: 2
