@font-face
  font-family HelveticaNeue
  src url(../fonts/HelveticaNeue-Light.otf)
body
  font-family HelveticaNeue

.error
  color red

video.local
  width 15%
  top 150px
  right 30px
  position fixed

video
  width 35%
  margin 15px
  float left
