h1.logo.center Yell.io

.center

  h2 create a room

  form(name="createRoomForm" ng-submit="createRoom()")
    label name
    input(type="text" ng-model="roomName" ng-pattern="/^\\s*\\w*\\s*$/" autofocus required name="roomName" ng-class="{error: createRoomForm.$error.pattern}")
    span.error(ng-show="createRoomForm.$error.pattern") Single word only!
    button(ng-show="createRoomForm.$valid") create

  h2(ng-show="rooms") or join one:

  ul
    li(ng-repeat="room in rooms")
      a(ng-href="#/r/{{room.name}}") {{room.name}} : {{room.numberOfUsers}}
