h1.logo.center Yell.io

  h2.center create a room


  div.cont: form(name="createRoomForm" ng-submit="createRoom()")
    label name
    input(type="text" ng-model="roomName" ng-pattern="/^\\s*\\w*\\s*$/" autofocus required name="roomName" ng-class="{error: createRoomForm.$error.pattern}")
    span.cont.error(ng-show="createRoomForm.$error.pattern") Single word only!
    button(ng-show="createRoomForm.$valid") create

.center

  h2(ng-show="rooms") or join one:

  ul
    li(ng-repeat="room in rooms")
      a(ng-href="#/r/{{room.name}}") {{room.name}} : {{room.numberOfUsers}}
