video.remote(
  autoplay
  ng-class="{fullscreen: fullScreen}"
  ng-click="toggleFullScreen()"
  ng-src="{{videoSrc}}"
  ng-show="!(this.readyState <= HTMLMediaElement.HAVE_CURRENT_DATA || this.paused || this.currentTime <= 0)"
)
