h1(ng-show="!localVideoSrc && !cameraError") Please allow app to use you webcam and microphone
h1.error(ng-show="cameraError") Can't get access to your webcam! Refresh the page and garant access to your webcam

div(ng-show="localVideoSrc && !cameraError")

  a(ng-href="#") home
  h1 Room {{roomName}}
  h2 your name: {{user.name}}

  form(name="loginForm", ng-show="!user.name", ng-submit="joinRoom()")
    label name
    input(type="text", ng-model="username", ng-pattern="/^\\s*\\w*\\s*$/", required, name="username")
    span.error(ng-show="loginForm.username.$error.required") Required!
    span.error(ng-show="loginForm.username.$error.pattern") Single word only!
    button(ng-show="loginForm.$valid") Join!

  local-video

  div(ng-repeat="videoSrc in remoteVideos")
    video(autoplay, ng-src="{{videoSrc}}")
